<h1><%= @trip.title %></h1>

<p><%= @trip.description %></p>

<p>Starting point: <%= @trip.starting_point %></p>
<p>Ending point: <%= @trip.ending_point %></p>
<p>Created by: <%= @trip.user_id %></p>
